<!DOCTYPE html>



<html>


<style>

	img.Manceps{
		position: absolute;	
		

	}

	img.topsecret{
		position: top left;
	}

	div.center{
		text-align: left;
	}

	div.text{
		text-align: left;	
	}
	

	div.a {
		text-align: justify;
	}


	p.wrapped {
		width: 600px;
		word-wrap: break-word;
		text-align: center;
	}

	.courier {
		font-family: Courier; 
		font-size: 14px;

	}


	h1 {
		font-family: Courier; 
		font-size: 22px;
		font-weight: bold;
		color: black;
	}

	p {
		font-family: Courier;
		font-size: 14px;
	}

	body {
	background-color: white;
	background-image: url("https://files.slack.com/files-pri/TB7V24N8Z-FLGKFU87L/image_2.1.png");	
	background-repeat: no-repeat;
	background-size: auto;
	
	}
	

	
</style>




<body>


	

	<div class="a">
	<div class="center">
	<div class="text">
	
	<div id="Manceps";>
	<div class="Manceps"><img src="file:///Users/hopeyim/code/Manceps_Logo_3c_White.png" width="100" height="110"></div>
	<div class="topsecret"><img src="file:///Users/hopeyim/Desktop/topSecret.png"></div>

<p>

<h1>About Unredactor</h1>

<p>

<p class="wrapped">Unredactor is an interactive app to edit and play with words. You can redact and enter text with this new app. The app is made to interact with the text and redact words etc. Not only that, this app is able to predict the words the user can come up with, and is enjoyable. The app is created by users to fill in the blanks, with the app being able to redact and predict words that are reasonable and not unexpected like "Mad Libs." The Unredactor works by using a Google BERT (Bidirectional Encoder Representations from Transformers) model. The Unredactor app is a great way to show others the beauty and mystics of technology working on its own. Users will see the technology really working in the app. </p> 

<p style = "font-family: Courier; font-size: 22px; font-weight: bold">

<h1>Manceps Summer of Code</h1>

<p style = "font-family: Courier; font-size: 14px;">

<p class="wrapped">Manceps Summer of Code is an internship that was offered to a group of students from both Camas High School and Discovery High School from the company, <a href = "https://www.manceps.com/">Manceps, Inc.</a> In this Summer of Code internship, this ambitious group work together and individually on a given task and share with the mentors about their progress daily. The students organize each other based on the previous knowledge they know and practice and excel in their given role. Below are our contributors in the creation of this app: Unredactor.</p>

<p style = "font-family: Courier; font-size: 14px; font-weight: bold;">

<p style = "font-family: Courier; font-size: 14px; font-weight: bold">

<p><strong>Hope Yim</strong></p>
<p style = "font-family: Courier; font-size: 14px font-weight: bold;">
<p class="wrapped">Hope is a senior at Camas High School who was recently introduced to coding and computer science in her junior year. Since she is new to computer science, she wanted to learn more about it by being a part of Manceps Summer of Code where she learns about the content and importance of computer science in our world today by helping to create the app. Contributions: HTML/CSS of the website of the app.
From Manceps Summer of Code, Hope has expanded her knowledge in computer science and practice in HTML/CSS. Although, most of the time she was constantly asking Google and Slack for code structure questions, she spent time with her mentor sharpening some HTML/CSS skills and techniques to make the site look better. Her best feeling during this internship was being able to type code and being able to see the results on her browser window. She hopes that from this experience, she can learn more computer science in her last year of high school and carry over to her college years and future. 

</p>

<p style = "font-family: Courier; font-size: 14px; font-weight: bold">

<p><strong>Tyler Gee</strong></p>
<p style = "font-family: Courier; font-size: 14px;">
<p class="wrapped">Tyler is a junior at Camas High School who has been interested in computer science from a young age. He has experience in multiple languages, especially Swift, but had to learn a lot about deep learning and web app development with Python for this project.
Contributions: iOS App, Visual Design
 </p>

<p style = "font-family: Courier; font-size: 14px;">

<p><strong>Julian McOmie</strong></p> 
<p style = "font-family: Courier; font-size: 14px;">
<p class="wrapped">Julian is a Junior at Camas High School who started programming at the age of 11 on a Ti-84 calculator. Since then, he has explored many different programming languages and different types of projects, ranging from mapping with LiDAR and Arduino to making iOS apps with xCode and Swift. 
Contributions: Flask API, Server Configuration
</p>

<p style = "font-family: Courier; font-size: 14px;">

<p><strong>Alex Kari</strong></p>
<p style = "font-family: Courier; font-size: 14px;">
<p class="wrapped">Alex is a freshman at Discovery High School who started learning to code when scratch came out when 8 since then he has received an online MIT certificate for python and presented about tensorflow at OSCON.
Contributions: Flask API</p>

	</div>
	</div>
	</div>
	</div>
	</div>
	</div>

	
	


</p>
</body>

</html>

