{% extends 'bootstrap/base.html' %}

{% block head %}
	{{ super() }}
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-27545787-7"></script>
	<script>
  window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

        gtag('config', 'UA-27545787-7');
	</script>


	<title>Unredactor</title>
	<script src="https://code.jquery.com/jquery-git.js"></script>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('about') }}">{{ ('About') }}</a></li>
		    <li><a href="{{ url_for('unredactor') }}">{{ ('Unredactor') }}</a></li>
		    <li><a href="https://www.manceps.com" target="_blank">{{ ('Manceps') }}</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
	<!-- <div class="container"> -->
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			<div class="alert alert-info" role="alert">{{ message }}</div>
			{% endfor %}
		{% endif %}
		{% endwith %}

		{% block app_content %}{% endblock %}
	<!-- </div> -->
{% endblock %}
