<!DOCTYPE html>



<html>


<style>

	img.Manceps{
		position: left;
		width: 100px;
		height: 110px;
	}

	img.topsecret{
		position: left;
	}

	div.center{
		text-align: center;
	}

	div.text{
		margin-left: 355px;
		margin-left: 300px;
		text-align: left;
		font-family: Courier;
		font-size: 14px;
	}

	div.a {
		text-align: justify;
	}

	

	p.wrapped {
		width: 700px;
		word-wrap: break-word;
		text-align: left;
		margin-left: 355px;
		
		
	}


	h1 {
		font-family: Courier; 
		font-size: 22px;
		font-weight: bold;
		color: black;
		text-align: center;
		
	}

	p {
		font-family: Courier;
		font-size: 14px;
		text-align: left;
		margin-left: 355px;

	}

</style>



<body>



	<div class="a">
	<div class="center">
	<div class="Manceps"><img src="file:///Users/hopeyim/code/transparentmanceps.png" width="100" height="110">
	<div class="topsecret"><img src="file:///Users/hopeyim/Desktop/topSecret.png">

	

<p>
<h1>Manceps Summer of Code:</h1>
<p>

<p class="wrapped">Manceps Summer of Code is an internship that was offered to a group of students from both Camas High School and a student from Discovery High School from the company, <a href = "https://www.manceps.com/">Manceps, Inc.</a> In this Summer of Code internship, this ambitious group work together and individually on a given task and share with the mentors about their progress daily. The students organized each other based on the previous knowledge they know to practice and excel in their given role. Many hours were put into this effort in creating the app to give their users a fun and interactive time with the app! Below are our contributors in the creation of this app: Unredactor.</p>

<p>
<h1>Creators and Reflections from Manceps Summer of Code:</h1>
<p>

<p><strong><u>Hope Yim</u></strong></p>
<p class="wrapped">Hope is a senior at Camas High School who was recently introduced to coding and computer science in her junior year. Since she is new to computer science, she wanted to learn more about it by being a part of Manceps Summer of Code where she learns about the content and importance of computer science in our world today by helping to create the app.</p> 
<p class="wrapped">From participating in Manceps Summer of Code, Hope has expanded her knowledge in computer science and practice in HTML/CSS. Although, most of the time she was constantly asking Google and Slack for code structure questions, she spent time with her mentor sharpening some HTML/CSS skills and techniques to make the site look better. Her best feeling during this internship was being able to type code and being able to see the results on her browser window. She hopes that from this experience, she can learn more computer science in her last year of high school and carry over to her college years and future.  </p>
<p class="wrapped">Contributions: HTML/CSS of the website of the app.</p>


<p><strong><u>Tyler Gee</u></strong></p>
<p class="wrapped">Tyler is a junior at Camas High School who has been interested in computer science from a young age. He has experience in multiple languages, and is especially experienced in Swift. Prior to Manceps' Summer of Code, he had created many projects, from an image classifying AI to an iCloud-based homework app.</p>
<p class="wrapped">The collaborative environment of Manceps' Summer of Code has allowed Tyler to improve on both his coding and communication skills. His main contribution in this project was developing the entire iOS interface for Unredactor. Each feature forced him to learn something new, and he used resources from across the internet, especially Stack Overflow, to accomplish this. He also gained first-hand experience publishing an app to the App Store. Tyler is glad that he was able to learn so much during Manceps' Summer of Code, and plans to use this experience as a stepping stone towards an exciting and fulfilling career in computer science.</p>
<p class="wrapped">Contributions: iOS App, Visual Design</p>


<p><strong><u>Julian McOmie</u></strong></p> 
<p class="wrapped">Julian is a junior at Camas High School who started programming at the age of 11 on a Ti-84 calculator. Since then, he has explored many different programming languages and different types of projects, ranging from mapping with LiDAR and Arduino to making iOS apps with xCode and Swift.</p>
<p class="wrapped">Contributions: Flask API, Server Configuration, Visual Design of Website</p>


<p><strong><u>Alex Kari</u></strong></p>
<p class="wrapped">Alex is a freshman at Discovery High School who started learning to code when scratch came out when he was 8 since then he has received an online MIT certificate for python and presented about tensorflow at OSCON.</p>
<p class="wrapped">By engaging in the Manceps Summer of Code program, he has gotten much better at communication, collaborative projects, HTML.</p>
<p class="wrapped">Contributions: Flask API</p>

<p>
<h1>Project Coordinators' Reflections:</h1>
<p>

<p><strong><u>Chris Thompson</u></strong></p>
<p class="wrapped">Lorem ipsum</p>

<p><strong><u>Daria Kari</u></strong></p>
<p class="wrapped">Lorem ipsum</p>

<p><strong><u>Hobson Lane</u></strong></p>
<p class="wrapped">It was inspiring to work with such talented young developers. And they came up with an awesome app that I’m looking forward to playing with for years to come. Wonder what they will come up with next!</p>


	</div>
	</div>
	</div>
	</div>
	

	
	


</p>
</body>

</html>

